a.invisible {
  opacity: 0;
}
a.invisible:hover {
  opacity: 1;
}

div.edition-list {
  margin-bottom: 10px;
  margin-left: 25px;
}

div.three-column {
  column-count: 3;
}

.form-control {
  border: none !important;
  box-shadow: none;
  border-radius: 0px;
  background: transparent !important;
  padding: 0.1rem;
}

.form-control:focus {
  border: none !important;
  box-shadow: none !important;
  background-color: rgba(115, 123, 243, 0.5) !important;
}

h1 .form-control {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0;
}
h3 .form-control {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
}

.small-form-field {
  border: none !important;
}

.edit-field {
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;
}
/*div.small-link {
	a.font-size: 50%;
	a.bgcolor: grey;
}*/

.select2 {
  background-color: transparent !important;
}
.select2-container {
  background-color: transparent !important;
  border: none !important;
}

.select2-container--default .select2-selection--single {
  border: none !important;
  background-color: transparent !important;
}
.select2-container--default .select2-selection--multiple {
  border: none !important;
  background-color: transparent !important;
}

.select2-selection__choice {
  background-color: transparent !important;
  border: none !important;
  padding: 0px;
}
.select2-selection__choice__display {
  background-color: transparent !important;
  padding: 0px;
}

.select2-selection__choice__remove {
  border-right: none !important;
}

label {
  font-weight: bold;
}
/* body {font-family: Arial, Helvetica, sans-serif;} */

/* The Modal (background) */

/* Modal Content */

.modal-content {
  /*position: fixed;*/
  /*bottom: 0;*/
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.align-center {
  text-align: center;
}

.carousel-caption {
  background-color: white;
  color: black;
}

/* Add Animation */
/*
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}
*/
img.person {
  margin: 1rem;
}
