body {
  justify-content: center;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif !important;
  font-weight: bolder;
}

p {
  font-family: "Roboto", sans-serif !important;
}

.custom-container {
  display: flex;
  width: 100%;
  padding: 2rem;
  justify-content: center;
}
.visibility-hidden {
  visibility: hidden;
}

h1.underline {
  border-bottom: 1px solid #000;
  width: 100%;
  display: block;
}

h1.title {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}

h1.edition {
  margin-top: 4rem;
  text-align: center;
  font-weight: bold;
}
a.invisible {
  opacity: 0;
}
a.invisible:hover {
  opacity: 1;
}

div.edition-list {
  margin-bottom: 10px;
  margin-left: 25px;
}

div.three-column {
  column-count: 3;
}

.tooltip-inner {
  max-width: 500px !important;
  word-wrap: break-word;
  color: black;
  background: -webkit-gradient(
    linear,
    left top,
    left 25,
    from(#f4f4f4),
    color-stop(4%, #b4c8d6),
    to(#f4f4f4)
  );
  background: -moz-linear-gradient(top, #f4f4f4, #b4c8d6 1px, #f4f4f4 25px);
  border: 1px solid #55aaaa;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.book {
  margin-bottom: 0.2rem;
  margin-left: 1rem;
}

figure {
  border: thin silver solid;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
figcaption {
  text-align: center;
  font-size: smaller;
  margin-top: -1rem;
  margin-left: 5rem;
  background: white;
  width: 30%;
}
.row {
  border: 1;
}
.col {
  border: 1;
}
/*.form-control {
  border: none !important;
  box-shadow: none;
  border-radius: 0px;
  /*background: transparent !important;*/
background-color: lightgray;
/*padding: 0.1rem;
  margin: 0rem;
}

.form-control:focus {
  border: none !important;
  box-shadow: none !important;
  background-color: rgba(146, 146, 152, 0.864) !important;
}*/

h1 .form-control {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0;
}
h3 .form-control {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
}

.small-form-field {
  border: none !important;
}

.edit-field {
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;
  padding: 1;
}

/*div.small-link {
	a.font-size: 50%;
	a.bgcolor: grey;
}*/

.select2 {
  background-color: transparent !important;
}
.select2-container {
  background-color: transparent !important;
  border: none !important;
}

.select2-container--default .select2-selection--single {
  border: none !important;
  background-color: transparent !important;
}
.select2-container--default .select2-selection--multiple {
  border: none !important;
  /*background-color: transparent !important;*/
}

.select2-selection__choice {
  background-color: transparent !important;
  border: none !important;
  padding: 0px;
}
.select2-selection__choice__display {
  background-color: transparent !important;
  padding: 0px;
}

.select2-selection__choice__remove {
  border-right: none !important;
}

/*
label {
  font-weight: bold;
}*/
/* body {font-family: Arial, Helvetica, sans-serif;} */

/* The Modal (background) */

/* Modal Content */

.modal-content {
  /*position: fixed;*/
  /*bottom: 0;*/
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* .modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
} */

.modal-body {
  padding: 2px 16px;
}

/* .modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
} */

.align-center {
  text-align: center;
}

.carousel-caption {
  background-color: white;
  color: black;
}

/* Add Animation */
/*
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}
*/
img.person {
  margin: 1rem;
}

.img-halfheight {
  max-height: 250px;
}
/*img.half-image {
  float: right;
  width: 50%;
  height: auto;
  display: block;
}*/

p.source {
  background-color: #f3f2f2;
  padding: 0em;
  font-weight: lighter;
  font-size: small;
}

.tooltip-inner {
  min-width: 300px;
}
