{% if current_user.get_id()|int() in book.owners|map(attribute='id')|list() %}
	{% set owned = 1 %}
{% else %}
	{% set owned = 0 %}
{% endif %}

{% if only_owned is defined and owned == 0 %}
{% set show = 0 %}
{% else %}
{% set show = 1 %}
{% endif %}

{% if show == 1 %}
{% if owned == 1 and print is not defined %}
<span style="border-left: 6px solid grey; padding-left: 19px">
{% else %}
<span style="padding-left: 25px; ">
{% endif %}
{% if owned == 1 %}<a id="{{book.id}}" href="#remove" class="ownerstate"> - </a>
{% else %}<a id="{{book.id}}" href="#add" class="ownerstate"> + </a>{% endif %}
{% if print == 1 %}<b>{{ book.title }}</b>.{% else %}<a href="{{ url_for("book", bookid=book.id) }}">{{ book.title }}</a>.{% endif %}
{% if book.bookseries %}
{{ book.bookseries.name}} {{book.bookseriesnum}}.
{% endif %}
{%- if book.originalname|length -%}({{ book.originalname }}{% endif %}{%- if book.origpubyear|int -%}, {{ book.origpubyear }}{% endif %}{% if book.originalname|length %}).{% endif %}
{{book.publisher.name}} {{ book.pubyear }}. [{{ book.genres|join(', ', attribute='genre_name') }}].
</span><br>
{% endif %}
