<!-- This prints a stand-alone edition, i.e. this can be used even if work is
	 not printed above. -->

{% set work = edition.work[0] %}
{% from 'macros.html' import editionnum %}
{% if current_user.get_id()|int() in edition.owners|map(attribute='id')|list() %}
{% set owned = 1 %}
{% else %}
{% set owned = 0 %}
{% endif %}

{% if only_owned is defined and owned == 0 %}
{% set show = 0 %}
{% else %}
{% set show = 1 %}
{% endif %}

{% if show == 1 %}
{% if owned == 1 and print is not defined %}
<span style="border-left: 6px solid grey; padding-left: 19px">
	{% else %}
	<span style="padding-left: 25px; ">
		{% endif %}
		{% if print != 1 %}
		{% if owned == 1 %}
		<a id="{{edition.id}}" href="#remove" class="ownerstate"> - </a>
		{% else %}
		<a id="{{edition.id}}" href="#add" class="ownerstate"> + </a>
		{% endif %}
		{% endif %}

		{% if not skip_pubseriesnum %}
		{% if edition.pubseriesnum %}
		{{ edition.pubseriesnum }}.
		{% endif %}
		{% endif %}
		<b>{{ work.creator_str }}</b>:

		{% if print == 1 %}
		<b>{{ edition.title }}</b>.
		{% else %}
		<a href="{{url_for('edition', editionid=edition.id) }}" data-bs-toggle="tooltip" data-bs-placement="right"
			title="{{edition.title}}" html="test">
			{{edition.title }}</a>.
		{% endif %}
		(
		{%- if work.title != work.orig_title -%}
		{{ work.orig_title }},
		{% endif -%}
		{{ work.pubyear }}).
		{% if edition.work.bookseries %}
		{{ edition.work.bookseries.name}} {{edition.work.bookseriesnum}}.
		{% endif %}

		{{ editionnum(edition.version, edition.editionnum, none) }}

		{% if not skip_publisher %}
		{{edition.publisher.name}}
		{% endif %}
		{{ edition.pubyear }}.
		{% for genre in edition.work[0].genres %}
		<img src="/static/icons/{{genre.abbr}}_16.png" title="{{genre.name}}">
		{% endfor %}

	</span><br>
	{% endif %}