            <li class="list-group-item">
                <div class="d-flex flex-row bd-highlight align-items-center" style="flex-direction: column;">
                    {% if genres['SF'] %}
                    <div class="p-2 flex-fill"><img src="/static/icons/SF_32.png" title="Science fiction"></div>
                    {% endif %}
                    {% if genres['F'] %}
                    <div class="p-2 flex-fill"><img src="/static/icons/F_32.png" title="Fantasia"></div>
                    {% endif %}
                    {% if genres['K'] %}
                    <div class="p-2 flex-fill"><img src="/static/icons/K_32.png" title="Kauhu"></div>
                    {% endif %}
                    {% if genres['nSF'] %}
                    <div class="p-2 flex-fill"><img src="/static/icons/nSF_32.png" title="Nuorten science fiction"></div>
                    {% endif %}
                    {% if genres['nF'] %}
                    <div class="p-2 flex-fill"><img src="/static/icons/nF_32.png" title="Nuorten fantasia"></div>
                    {% endif %}
                    {% if genres['nK'] %}
                    <div class="p-2 flex-fill"><img src="/static/icons/nK_32.png" title="Nuorten kauhu"></div>
                    {% endif %}
                    {% if genres['PF'] %}
                    <div class="p-2 flex-fill"><img src="/static/icons/PF_32.png" title="Poliittinen fiktio"></div>
                    {% endif %}
                    {% if genres['paleof'] %}
                    <div class="p-2 flex-fill"><img src="/static/icons/paleof_32.png" title="Paleofiktio"></div>
                    {% endif %}
                    {% if genres['rajatap'] %}
                    <div class="p-2 flex-fill"><img src="/static/icons/rajatap_32.png" title="Rajatapaus"></div>
                    {% endif %}
                    {% if genres['kok'] %}
                    <div class="p-2 flex-fill"><img src="/static/icons/kok_32.png" title="Kokoelma/antologia"></div>
                    {% endif %}
                    {% if genres['eiSF'] %}
                    <div class="p-2 flex-fill"><img src="/static/icons/eiSF_32.png" title="Ei SF"></div>
                    {% endif %}
                </div>
                <div class="d-flex flex-row align-items-center" style="flex-direction: column;">

                    {% if genres['SF'] %}
                    <div class="p-2 flex-fill">{{genres['SF']}}</div>
                    {% endif %}
                    {% if genres['F'] %}
                    <div class="p-2 flex-fill">{{genres['F']}}</div>
                    {% endif %}
                    {% if genres['K'] %}
                    <div class="p-2 flex-fill">{{genres['K']}}</div>
                    {% endif %}
                    {% if genres['nSF'] %}
                    <div class="p-2 flex-fill">{{genres['nSF']}}</div>
                    {% endif %}
                    {% if genres['nF'] %}
                    <div class="p-2 flex-fill">{{genres['nF']}}</div>
                    {% endif %}
                    {% if genres['nK'] %}
                    <div class="p-2 flex-fill">{{genres['nK']}}</div>
                    {% endif %}
                    {% if genres['PF'] %}
                    <div class="p-2 flex-fill">{{genres['PF']}}</div>
                    {% endif %}
                    {% if genres['paleof'] %}
                    <div class="p-2 flex-fill">{{genres['paleof']}}</div>
                    {% endif %}
                    {% if genres['rajatap'] %}
                    <div class="p-2 flex-fill">{{genres['rajatap']}}</div>
                    {% endif %}
                    {% if genres['kok'] %}
                    <div class="p-2 flex-fill">{{genres['kok']}}</div>
                    {% endif %}
                    {% if genres['eiSF'] %}
                    <div class="p-2 flex-fill">{{genres['eiSF']}}</div>
                    {% endif %}
                </div>
            </li>