{% if current_user.get_id()|int() in edition.owners|map(attribute='id')|list() %}
{% set edition_owned = 1 %}
{% else %}
{% set edition_owned = 0 %}
{% endif %}

{% if only_owned is defined and edition_owned == 0 %}
{% set show = 0 %}
{% else %}
{% set show = 1 %}
{% endif %}

{% if show == 1 %}
{% if edition_owned == 1 and print is not defined %}
<span style="border-left: 6px solid grey; padding-left: 39px">
    {% else %}
    <span style="padding-left: 45px; ">
        {% endif %}
        {% if edition_owned == 1 %}<a id="{{edition.id}}" href="#remove" class="ownerstate"> - </a>
        {% else %}<a id="{{edition.id}}" href="#add" class="ownerstate"> + </a>
        {% endif %}

        {% if edition.version|int > 1 %}
        {{ edition.version }}.laitos
        {% if edition.editionnum|len == 0 %}
        ?.painos:
        {% elif edition.editionnum > 1 %}
        {{ edition.editionnum }}.painos:
        {% else %}
        :
        {% endif %}
        {% else %}
        {% if edition.editionnum|len == 0 %}
        ?.painos:
        {% elif edition.editionnum and edition.editionnum > 1%}
        {{ edition.editionnum }}.painos:
        {% endif %}
        {% endif %}

        {% if edition.title != work.title %}
        {% if print == 1 %}<b>{{ edition.title }}</b>.
        {% else %}<a href="{{url_for('edition', editionid=edition.id) }}">{{ edition.title }}</a>.
        {% endif %}
        {% endif %}
        {% if edition.work.bookseries %}
        {{ edition.work.bookseries.name}} {{edition.work.bookseriesnum}}.
        {% endif %}
        {% if edition.pubseries %}
        {{ edition.pubseries.name }}.
        {% endif %}
        {{edition.publisher.name}} {{ edition.pubyear }}.
    </span><br>
    {% endif %}