{% set ns = namespace(work_owned=false) %}
{% for edition in work.editions %}
{% if current_user.get_id()|int() in edition.owners|map(attribute='id')|list() %}
{% set ns.work_owned = true %}
{% endif %}
{% endfor %}

{% if ns.work_owned == true and print != 1 %}
{# Add marker for ownership #}
<span style="border-left: 6px solid grey; padding-left: 23px">
    {% else %}
    <span style="padding-left: 25px; ">
        {% endif %}

        {% if print != 1 and current_user.is_authenticated %}
        {# Add buttons for adding/removing book from collection #}
        {% if ns.work_owned == true %}<a id="{{work.editions[0].id}}" href="#remove" class="ownerstate"> - </a>
        {% else %}<a id="{{work.editions[0].id}}" href="#add" class="ownerstate"> + </a>
        {% endif %}
        {% endif %}

        {# Add title, with or without link. #}
        {% if print == 1 %}
        <b>{{ work.title }}</b>.
        {% else %}<b><a href="{{url_for('edition', editionid=work.editions[0].id) }}">
                {{ work.title }}</a></b>.
        {% endif %}

        {# Rest of the stuff besides the title: #}

        {% if work.bookseries %}
        {{ work.bookseries.name}}
        {%- if work.bookseriesnum %}
        {{work.bookseriesnum}}
        {%- endif -%}
        .
        {% endif %}
        {% if (work.orig_title != work.title) -%}
        ({{work.orig_title}}
        {%- if work.pubyear != 0 -%}
        , {{ work.pubyear }}
        {%- endif -%}).
        {% else %}
        {% if work.pubyear != work.editions[0].pubyear %}
        ({{work.pubyear}}).
        {% endif %}
        {% endif %}
        {% if work.genres|length %}
        {% for genre in work.genres %}
        <img src="/static/icons/{{genre.abbr}}_16.png" title="{{genre.name}}">
        {% endfor %}
        {# [{{ work.genres|join(', ', attribute='genre_name') }}]. #}
        {% endif %}
        {#
        {% for edition in work.editions %}
        {% for owner in edition.owners %}
        {{ owner.name }}
        {% endfor %}
        {% endfor %}
        #}
    </span><br>