{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="title">Palkinnot</h1>

    <p>Kunkin palkinnon kohdalla luetellaan vain teokset ja henkilöt, jotka löytyvät tietokannasta.
        SF-aiheisten palkintojen kohdalla tämä tarkoittaa, että henkilöpalkintojen osalta henkilöltä
        on julkaistu suomeksi ainakin yksi teos ja teosten kohdalla, että juuri kyseinen teos on saatavilla
        suomeksi.
    </p>
    <h2>Kotimaiset palkinnot</h2>
    {% for award in awards %}
    {% if award.domestic == 1 and (award.winners|length > 0 or current_user.is_admin) %}
    <div class="mb-2">
        <span style="font-size: x-large;"><a href="{{ url_for('award', awardid=award.id) }}">{{ award.name
                }}</a></span><br>
        {{ award.categories|map(attribute='name')|join(', ') }}<br>
        {{ award.description }}
    </div>
    {% endif %}
    {% endfor %}

    <h2 class="mt-3">Ulkomaiset palkinnot</h2>
    {% for award in awards %}
    {% if award.domestic == 0 and (award.winners|length > 0 or current_user.is_admin) %}
    <div class="mb-2">
        <span style="font-size: x-large;"><a href="{{ url_for('award', awardid=award.id) }}">{{ award.name
                }}</a></span><br>
        {{ award.categories|map(attribute='name')|join(', ') }}<br>
        {{ award.description }}
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}