<!DOCTYPE html>
<html lang="fi">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="/static/css/suomisf.css?v=1.1" rel="stylesheet" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
  {#
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script> #}
  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/i18n/fi.js"></script>
  {% block styles %}

  <style type="text/css">
    a.ownerstate:not(:hover) {
      color: transparent;
    }

    a.ownerstate:hover {
      text-decoration: none;
    }
  </style>
  {% endblock %}
  <title>
    {% if title %}{{title}}{% else %}Suomenkieliset SF-, Fantasia- ja Kauhukirjat{% endif %}
  </title>
</head>
{% endblock %}

<body>

  {% block navbar %}
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-expand-xl navbar-dark" style="background-color: #18447e">
      <a class="navbar-brand" href="{{ url_for('index') }}">SuomiSF</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('bookindex')}}">Kirjat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('magazines') }}">Lehdet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('shortstoryindex')}}">Novellit</a>
          </li>
          {#
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('publishers') }}">Kustantajat <span
                class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarSeriesMenuLink" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Sarjat
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarSeriesMenuLink">
              <a class="dropdown-item" href="{{ url_for('allbookseries') }}">Kirjasarjat</a>
              <a class="dropdown-item" href="{{ url_for('allpubseries') }}">Julkaisijoiden sarjat</a>
            </div>
          </li>
          #}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hakemistot
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{ url_for('people') }}">Henkilöt</a>
              <a class="dropdown-item" href="{{ url_for('publishers') }}">Kustantajat</a>
              <a class="dropdown-item" href="{{ url_for('allbookseries') }}">Kirjasarjat</a>
              <a class="dropdown-item" href="{{ url_for('allpubseries') }}">Kustantajien sarjat</a>
              <a class="dropdown-item" href="{{ url_for('awards')}}">Palkinnot</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('stats') }}">Tilastoja</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Käyttäjät
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% if current_user.is_anonymous %}
              <form class="px-4 py-3" action="{{url_for('login')}}" method="post">
                <div class="form-group">
                  <label for="username">Käyttäjätunnus</label>
                  <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="form-group">
                  <label for="password">Salasana</label>
                  <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="remember_me" name="remember_me">
                  <label class="form-check-label" for="remember_me">Muista minut</label>
                </div>
                <button type="submit" class="btn btn-primary">Kirjaudu</button>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('register')}}">Uusi käyttäjä? Luo tunnus</a>
                {# <a class="dropdown-item" href="{{ url_for('login') }}">Kirjaudu</a> #}
              </form>
              {% else %}
              <a class="dropdown-item" href="{{ url_for('users') }}">Lista</a>
              <a class="dropdown-item" href="{{ url_for('user', userid=current_user.id) }}">Omat tiedot</a>
              <a class="dropdown-item" href="{{ url_for('mybooks', userid=current_user.id) }}">Omat kirjat</a>
              {# <a class="dropdown-item" href="{{ url_for('myseries', userid=current_user.id) }}">Sarjat</a> #}
              <a class="dropdown-item" href="{{ url_for('logout') }}">Kirjaudu ulos</a>
              {% endif %}
            </div>
          </li>
          {% if current_user.is_admin %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ylläpito
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{url_for('new_work')}}">Lisää teos</a>
              <a class="dropdown-item" href="{{url_for('new_person')}}">Lisää henkilö</a>
              <a class="dropdown-item" href="{{url_for('new_bookseries')}}">Lisää kirjasarja</a>
              {% block edit_menu %}
              {% endblock %}
            </div>
          </li>
          {% endif %}
      </div>
      </ul>
      <div class="d-flex justify-content-end">
        <form class="form-inline my-2 my-lg-0" method="get" action="{{url_for('search')}}">
          <input class="form-control mr-sm-2" type="search" name="search" placeholder="Hakusana" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Hae</button>
        </form>
      </div>
    </nav>
  </div>
  {% endblock %}
  {% block content %}
  {% endblock %}
  {% block scripts %}
  {% endblock %}
</body>

</html>