<!DOCTYPE html>
<html lang="fi">

<head>
  {% block head %}
  <meta charset=utf-8 />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {{ bootstrap.load_css()}}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  {{ bootstrap.load_js()}}
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/i18n/fi.js"></script>

  <script src="/static/js/ownership.js"></script>
  <script src="/static/js/custom-elements.js"></script>
  {% block styles %}
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap" rel="stylesheet">
  {{ bootstrap.load_css() }}
  <link rel="stylesheet" href="/static/css/suomisf.css">

  <style type="text/css">
    a.ownerstate:not(:hover) {
      color: transparent;
    }

    a.ownerstate:hover {
      text-decoration: none;
    }
  </style>
  {% endblock %}
  <title>
    {% if title %}{{title}}{% else %}Suomenkieliset SF-, Fantasia- ja Kauhukirjat{% endif %}
  </title>
</head>
{% endblock %}

<body>
  {% block navbar %}
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-expand-xl navbar-dark" style="background-color: #18447e">
      <a class="navbar-brand" href="{{ url_for('index') }}">SuomiSF</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarBooksMenuLink" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Kirjat
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarBooksMenuLink">
              <a class="dropdown-item" href="{{ url_for('books') }}">Kaikki</a>
              <a class="dropdown-item" href="{{ url_for('books_by_origin', country='Suomi') }}">Suomalaiset</a>
              <a class="dropdown-item" href="{{ url_for('books_by_origin', country='!Suomi') }}">Ulkomaiset</a>
              <a class="dropdown-item" href="{{ url_for('anthologies') }}">Kokoelmat</a>
              {% include "_letters_dropdown.html" %}
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('publishers') }}">Kustantajat <span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarSeriesMenuLink" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Sarjat
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarSeriesMenuLink">
              <a class="dropdown-item" href="{{ url_for('allbookseries') }}">Kirjasarjat</a>
              <a class="dropdown-item" href="{{ url_for('allpubseries') }}">Julkaisijoiden sarjat</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Henkilöt
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{ url_for('people') }}">Kaikki</a>
              <a class="dropdown-item" href="{{ url_for('authors') }}">Kirjailijat</a>
              <a class="dropdown-item" href="{{ url_for('translators') }}">Kääntäjät</a>
              <a class="dropdown-item" href="{{ url_for('editors') }}">Toimittajat</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('stats') }}">Tilastoja</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Käyttäjät
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{ url_for('users') }}">Lista</a>
              {% if current_user.is_anonymous %}
              <a class="dropdown-item" href="{{ url_for('login') }}">Kirjaudu</a>
              {% else %}
              <a class="dropdown-item" href="{{ url_for('user', userid=current_user.id) }}">Tiedot</a>
              <a class="dropdown-item" href="{{ url_for('mybooks', userid=current_user.id) }}">Kirjat</a>
              <a class="dropdown-item" href="{{ url_for('myseries', userid=current_user.id) }}">Sarjat</a>
              <a class="dropdown-item" href="{{ url_for('logout') }}">Kirjaudu ulos</a>
              {% endif %}
            </div>
          </li>
          {#
          #}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('magazines') }}">Lehdet</a>
          </li>
        </ul>
      </div>
      <div class="d-flex justify-content-end">
        <form class="form-inline my-2 my-lg-0" method="get" action="{{url_for('search')}}">
          <input class="form-control mr-sm-2" type="search" name="search" placeholder="Hakusana" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Hae</button>
        </form>
      </div>
    </nav>
  </div>
  {% endblock %}
  {% block content %}
  {% endblock %}
  {% block scripts %}
  {% endblock %}
</body>

</html>