{% extends "base.html" %}
{% block content %}
{% if letter %}
<h1>{{ letter }}</h1>
{% else %}
<h1>Kirjat</h1>
{% endif %}
{% for person in authors %}
	<div>
    <h3><a href="{{ url_for("person", personid = person.id) }}">{{person.name}}</a></h3>
    {% for work in person.works %}
        {% include "_work.html" %}
        {% if work.editions|length > 1 %}
            {% for edition in work.editions %}
                {% include "_otheredition.html" %}
            {% endfor %}
        {% endif %}
    {% endfor %}
	</div>
{% endfor %}

{% endblock %}

{% block scripts %}

    <script>
        $(".ownerstate").click(function() {
		var obj = $('#SelectElementId');
                var addr = $(this).attr('href');
            if (addr == '#remove') {
		$(this).parent().attr('style', 'padding-left: 45px;');
                $(this).attr('href', '#add');
                $(this).text(' + ');
                var request = $.ajax({
                    type: 'POST',
                    url: '/remove_from_owned/' + $(this).attr('id'),
                });
            } else if (addr == '#add') {
		$(this).parent().attr('style', 'border-left: 6px solid grey; padding-left: 39px');
		$(this).attr('href', '#remove');
		$(this).text(' - ');
                var request = $.ajax({
                    type: 'POST',
                    url: '/add_to_owned/' + $(this).attr('id'),
                });
            }

           return false;
        });
    </script>

{% endblock %}
