{% extends "base.html" %}
{% block content %}
<h1>{{ book.title }} ({{ book.id }})</h1>
<p>Kirjoittaja(t): 
{% for author in authors[:-1] %} 
<a href=" {{ url_for('person', personid=author.id) }}">{{ author.name }}</a> & 
{% endfor %}
<a href=" {{ url_for('person', personid=authors[-1].id) }}">{{ authors[-1].name }}</a>
</p>
{% if translators|length %}
<p>Kääntäjät: {% for translator in translators[:-1] %}
<a href=" {{ url_for('person', personid=translator.id) }}">{{ translator.name }}</a> &
</p>
{% endfor %}
<a href=" {{ url_for('person', personid=translators[-1].id) }}">{{ translators[-1].name }}</a>
{% endif %}
{% if editors|length %}
Toimittaja(t): {% for editor in editors[:-1] %}
<a href=" {{ url_for('person', personid=editor.id) }}">{{ editor.name }}</a>
{% endfor %}
<a href=" {{ url_for('person', personid=editors[-1].id) }}">{{ editors[-1].name }}</a>
{% endif %}
<p>Julkaisuvuosi: {{ book.pubyear }}</p>
<p>Alkuperäinen nimi: {{ book.originalname }}</p>
<p>Alkuperäinen julkaisuvuosi: {{ book.origpubyear }}</p>
<p>Painos: {{ book.edition }}</p>
<p>Kustantaja: <a href=" {{ url_for('publisher', pubid=book.publisher.id)
                        }}">{{ book.publisher.name }}</a></p>
{%- if book.pubseries.name|length -%}
<p>Julkaisijan sarja: <a href=" {{ url_for('pubseries',
                                  seriesid=book.pubseries.id) }}">{{
                                  book.pubseries.name -}}</a>
	{%- if book.pubseriesnum -%}
		, numero {{ book.pubseriesnum }}</p>
	{% endif %}
{%- endif %}
{% if book.bookseries.name|length %}
<p>Kirjasarja: <a href=" {{ url_for('bookseries',
                           seriesid=book.bookseries.id) }} ">{{
                           book.bookseries.name }}</a>
	{% if book.bookseriesnum %}
		{% if book.bookseriesnum|length %}
		, numero {{ book.bookseriesnum }}</p>
		{% endif %}
	{% endif %}
{%- endif %}
<p>Genre: {{ book.genre }}</p>
<p>Muuta: {{ book.misc }}</p>
<p>Aineiston lähde: {{ book.fullstring }}</p>
{% if current_user.is_admin %} 
<p><a href=" {{ url_for('edit_book', bookid=book.id) }} ">Muokkaa</a></p>
{% endif %}
{% endblock %}
