{% macro print_work(work) %}
<b><span class="person-list">{{ work.creator_str }}</span></b>:
<a href="{{ url_for('work', workid=work.id)}}">{{ work.editions[0].title }}</a>.
{{ work.bookseries.name }}{% if work.bookseriesnum %} {{ work.bookseriesnum}}{%endif%}.
({{ work.title}}, {{work.pubyear}}).
{% endmacro %}
{% extends "base.html" %}
{% block content %}
<div class="container">

    <div class="container" style="text-align: center;">
        <a href=" {{ url_for('print_books', type='bookseries', id=series.id) }}">Tulosta</a>
    </div>
    <h1>{{series.name}}
        {% if current_user.is_admin %}
        ({{ series.id }})
        {% endif %}
    </h1>
    <ul class="list-group list-group-flush">
    {% for work in series.works %}
        <li class="list-group-item">{{ print_work(work)}}<br>
        {% for edition in work.editions %}
            <div style="text-indent: 1rem;">{{ edition.editionnum }}. painos: {{edition.title}}. {{edition.publisher.name}} {{edition.pubyear}}.</span>
        {% endfor %}
        </li>
        {% endfor %}
    </ul>
</div>

<script src="/static/js/personlink.js" type="text/javascript"></script>

{% endblock %}