{% extends "base.html" %}
{% block content %}

<div class="container">
    <h4 class="mb-0 mt-4" style="text-align: center; font-variant: small-caps;">Viimeisimmät muutokset (30pv)</h4>

    <div class="mt-3">
        <table class="table">
            <th scope="col">Tietue</th>
            <th scope="col">Taulu</th>
            <th scope="col">Tyyppi</th>
            <th scope="col">Kenttä</th>
            <th scope="col">Päiväys</th>
            {% for change in changes %}
            <tr>
                {% if change.table_name == 'Teos' %}
                <th scope="row"><a href="{{url_for('work', workid=change.table_id)}}">{{change.object_name}}</a></th>
                {% elif change.table_name == 'Painos' %}
                <th scope="row"><a href="{{url_for('edition', editionid=change.table_id)}}">{{change.object_name}}</a>
                </th>
                {% elif change.table_name == 'Henkilö' %}
                <th scope="row"><a href="{{url_for('person', personid=change.table_id)}}">{{change.object_name}}</a>
                </th>
                {% elif change.table_name == 'Novelli' %}
                <th scope="row"><a href="{{url_for('story', id=change.table_id)}}">{{change.object_name}}</a></th>
                {% elif change.table_name == 'Artikkeli' %}
                <th scope="row"><a href="{{url_for('article', id=change.table_id)}}">{{change.object_name}}</a>
                </th>
                {% elif change.table_name == 'Lehti' %}
                <th scope="row"><a href="{{url_for('magazine', id=change.table_id)}}">{{change.object_name}}</a></th>
                {% elif change.table_name == 'Irtonumero' %}
                <th scope="row"><a href="{{url_for('issue', id=change.table_id)}}">{{change.object_name}}</a></th>
                {% endif %}
                <td>{{change.table_name}}</td>
                <td>{{change.action}}</td>
                <td>{{change.field_name}}</td>
                <td>{{change.date.strftime('%Y-%m-%d %H:%M')}}</td>
            </tr>
            {% endfor %}

        </table>
    </div>
    {% endblock %}