{% extends "base.html" %}
{% block content %}
<div class="container">
{% if id %}
<h1>Muokkaa kirjaa</h1>
{% else %}
<h1>Uusi kirja</h1>
{% endif %}
<form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
        {{ form.author.label }}<br>
        {{ form.author(size=100) }}
        </p>
        <p>
        {{ form.title.label }}<br>
        {{ form.title(size=50) }}<br>
        </p>
        <p>
        {{ form.subtitle.label }}<br>
        {{ form.subtitle(size=50) }}<br>
        </p>
        <p>
        {{ form.orig_title.label }}<br>
        {{ form.orig_title(size=50) }}<br>
        </p>
        <p>
        {{ form.pubyear.label }}<br>
        {{ form.pubyear(size=4) }}<br>
        </p>
        <p>
        {{ form.language.label }}<br>
        {{ form.language(size=2) }}<br>
        </p>
        <p>
        {{ form.bookseries.label }}<br>
        {{ form.bookseries(size=50) }}
        </p>
        <p>
        {{ form.bookseriesnum.label }}<br>
        {{ form.bookseriesnum(size=50) }}
        </p>
        <p>
        {{ form.bookseriesorder.label }}<br>
        {{ form.bookseriesorder(size=50) }}
        </p>
        <p>
        {{ form.genre.label }}<br>
        {{ form.genre(size=10) }}
        </p>
        <p>
        {{ form.collection.label }}<br>
        {{ form.collection(size=10) }}
        </p>
        <p>
        {{ form.misc.label}}<br>
        {{ form.misc(size=100) }}
	</p>
        <p>
        {{ form.image_src.label }}<br>
        {{ form.image_src(size=200) }}
        </p>
        <p>
        {{ form.description.label }}<br>
        {{ form.description(size=200) }}
        </p>
	{% if form.misc.errors %}
	{% for error in form.misc.errors %}<br>{{ error }}{% endfor %}
	{% endif %}
        </p>
        <p>{{ form.submit() }}</p>
</form>
{% if source %}
<p>Aineiston lähde: {{ source }}</p>
{% endif %}
<!--	<script src="/static/js/pubseries.js"></script> -->
</div>
{% endblock %}

{% block scripts %}

<script>

	$(document).ready(function(){
		{% if selected_pubseries != 0 %}
			$("#pubseries").val("{{ selected_pubseries|string() }}");
		{% endif %}
	});

	$("#publisher").on("input", function() {
		var name = $("#publisher").val();
		var request = $.ajax({
			type: 'POST',
			url: '/list_pubseries/' + name,
		});
		request.done(function(data){
			var option_list = [["0", "Ei sarjaa"]].concat(data);

			$("#pubseries").empty();
			for (var i = 0; i < option_list.length; i++) {
				$("#pubseries").append(
					$("<option></option>").attr(
						"value", option_list[i][0]).text(option_list[i][1])
					);
			}
		});
	});

{% include "_searchable_lists.html" %}
</script>
{% endblock %}

