{% extends "base.html" %}
{% block content %}

{% from 'macros.html' import render_field %}
{% from 'macros.html' import auto_complete %}

<div class="container">
{% if id %}
<h1>Muokkaa kirjaa</h1>
{% else %}
<h1>Uusi kirja</h1>
{% endif %}
<form action="" method="post">
        {{ form.hidden_tag() }}
        {{ render_field(form.author, id="author")}}
        {{ render_field(form.editors, id="editors")}}
        {{ render_field(form.title)}}
        {{ render_field(form.subtitle)}}
        {{ render_field(form.orig_title)}}
        {{ render_field(form.pubyear)}}
        {{ render_field(form.language)}}
        {{ render_field(form.bookseries, id="bookseries")}}
        {{ render_field(form.bookseriesnum)}}
		{{ render_field(form.bookseriesorder)}}
		{{ render_field(form.genre, size=16)}}
		{{ render_field(form.collection)}}
        {{ render_field(form.misc)}}
        {{ render_field(form.image_src)}}
        {{ render_field(form.description)}}
	{% if form.misc.errors %}
	{% for error in form.misc.errors %}<br>{{ error }}{% endfor %}
	{% endif %}
        </p>
        <p>{{ form.submit() }}</p>
</form>
{% if source %}
<p>Aineiston lähde: {{ source }}</p>
{% endif %}
</div>
{{ auto_complete("author", "/autocomp_person")}}
{{ auto_complete("editors", "/autocomp_person")}}
{{ auto_complete("bookseries", "/autocomp_bookseries")}}
{% endblock %}

{% block scripts %}

<script>

	$("#publisher").on("input", function() {
		var name = $("#publisher").val();
		var request = $.ajax({
			type: 'POST',
			url: '/list_pubseries/' + name,
		});
		request.done(function(data){
			var option_list = [["0", "Ei sarjaa"]].concat(data);

			$("#pubseries").empty();
			for (var i = 0; i < option_list.length; i++) {
				$("#pubseries").append(
					$("<option></option>").attr(
						"value", option_list[i][0]).text(option_list[i][1])
					);
			}
		});
	});

{% include "_searchable_lists.html" %}
</script>
{% endblock %}

