{% extends "base.html" %}
{% block content %}
{% from 'macros.html' import render_field %}

<div class="container">
	<h1>{{magazine_name}}</h1>
	<form action="" method=post >
		{{ form.hidden_tag() }}
		{{ render_field(form.editor, id="author") }}
		{{ render_field(form.number, size=10) }}
		{{ render_field(form.number_extra, size=10) }}
		{{ render_field(form.count, size=10) }}
		{{ render_field(form.year, size=4) }}
		{{ render_field(form.image_src, size=100) }}
		{{ render_field(form.pages, size=4) }}
		{{ render_field(form.notes, size=100) }}
		{{ render_field(form.size, id="size") }}
		<p>{{ form.submit() }}</p>
	</form>
</div>

	<script>
	$(document).ready(function(){
		{% if selected_size != '' %}
			$("#size").val("{{ selected_size|string() }}");
		{% endif %}

		$("author").autocomplete("enable");

		$(function() {
			$("#author").autocomplete({
				source : function(request, response) {
					$.ajax({
						type: "POST",
						url: "/autocomp_person",
						dataType: "json",
						cache: false,
						data: {
							q : request.term
						},
						success: function(data) {
							response(data);
						},
						error: function(jqHR, textStatus, errorThrown) {
							console.log(textStatus + " " + errorThrown);
						}
					});
				},
				minLength: 3,
				autoFocus: true
			});
		});
	});
	</script>

{% endblock %}
