{% extends "base.html" %}
{% block content %}
<div class="container">
{% if personid == 0 %}
<h1>Uusi henkilö</h1>
{% else %}
<h1>Muokkaa henkilöä</h1>
{% endif %}
<form action="" method=post>
        {{ form.hidden_tag() }}
        <p>
        {{ form.name.label }}<br>
        {{ form.name(size=100) }}<br>
        </p>
        <p>
        {{ form.first_name.label }}<br>
        {{ form.first_name(size=50) }}<br>
        </p>
        <p>
        {{ form.last_name.label }}<br>
        {{ form.last_name(size=50) }}<br>
        </p>
        <p>
        {{ form.dob.label }}<br>
        {{ form.dob(size=50) }}
        </p>
        <p>
        {{ form.dod.label }}<br>
        {{ form.dod(size=50) }}
        </p>
        <p>
        {{ form.birthplace.label }}<br>
        {{ form.birthplace(size=50) }}
        </p>
        <p>
        {{ form.image_src.label }}<br>
        {{ form.image_src(size=200) }}
        </p>
        <p>{{ form.submit() }}</p>
</form>
</div>
{% endblock %}

