{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="card border-primary mb-3" style="width: 720px; margin: 1rem auto;">
        {% if edition.work.authors|length %}
        <div class="card-header">
            {% for author in edition.work.authors %}
            <a href=" {{ url_for('person', personid=author.id) }}"> {{ author.alt_name }}</a>
            {% endfor %}
        </div>
        {% endif %}
        <div class="card-body">
            <h3 class="card-title">
                {{ edition.title}}
                {% if current_user.is_admin %} ({{ edition.id }}){% endif %}
            </h3>
            <a href=" {{ url_for('work', workid=edition.work.id) }}">{{ edition.work.title }}</a>
            {%- if edition.work.pubyear -%}, {{ edition.work.pubyear }} {% endif %}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <b>Julkaisuvuosi:</b> {{ edition.pubyear }}
            </li>
            <li class="list-group-item">
                <b>Painos:</b> {{ edition.editionnum }}
            </li>
            <li class="list-group-item">
                <b>Julkaisija:</b> <a
                    href=" {{ url_for('publisher', pubid=edition.publisher.id) }}">{{ edition.publisher.name }}</a>
            </li>
            {% if editors|length %}
            <li class="list-group-item">
            <b>Toimittaja(t):</b>
            {% if editors|length == 1 %}
            <a href=" {{ url_for('person', personid=editors[0].id) }}">{{
                    editors[0].alt_name }}</a>
            {% endif %}
            {% if editors|length == 2 %}
            <a href=" {{ url_for('person', personid=editors[0].id) }}">{{
                    editors[0].alt_name }}</a> ja
            <a href=" {{ url_for('person', personid=editors[1].id) }}">{{
                    editors[1].alt_name }}</a>

            {% endif %}
            {% if editors|length > 2 %}
            {% for editor in editors[:-1] %}
            <a href=" {{ url_for('person', personid=editor.id) }}">{{
                    editor.alt_name }}</a>,
            {% endfor %}
            <a href=" {{ url_for('person', personid=editors[-1].id) }}">{{
                editors[-1].alt_name }}</a>
            {% endif %}
            {% endif %}
            </li>
            {% if translators|length %}
            <li class="list-group-item">
                <b>Kääntäjä(t):</b>
                {% if translators|length == 1 %}
                <a href=" {{ url_for('person', personid=translators[0].id) }}">{{
                            translators[0].alt_name }}</a>
                {% endif %}
                {% if translators|length == 2 %}
                <a href=" {{ url_for('person', personid=translators[0].id) }}">{{
                            translators[0].alt_name }}</a> ja
                <a href=" {{ url_for('person', personid=translators[1].id) }}">{{
                            translators[1].alt_name }}</a>
                {% endif %}
                {% if translators|length > 2 %}
                {% for translator in translators[:-1] %}
                <a href=" {{ url_for('person', personid=translator.id) }}">{{
                            translator.alt_name }}</a>,
                {% endfor %}
                <a href=" {{ url_for('person', personid=translators[-1].id) }}">{{
                        translators[-1].alt_name }}</a>
                {% endif %}
            </li>
            {% endif %}
            {% if edition.pubseries.name|length %}
            <li class="list-group-item">
                <b>Kirjasarja:</b> <a href=" {{ url_for('bookseries', seriesid=edition.work.bookseries.id) }} ">
                        {{ edition.work.bookseries.name }}</a>
                {% if edition.work.bookseriesnum %}
                {% if edition.work.bookseriesnum|length %}
                , numero {{ edition.work.bookseriesnum }}
                {% endif %}
                {% endif %}
            </li>
            {% endif %}
            {% if edition.work.bookseries.name|length %}
            <li class="list-group-item">
                <b>Kirjasarja:</b> <a href=" {{ url_for('bookseries',
                    seriesid=edition.work.bookseries.id) }} ">{{
                    edition.work.bookseries.name }}</a>
                {% if edition.work.bookseriesnum %}
                {% if edition.work.bookseriesnum|length %}
                , numero {{ edition.work.bookseriesnum }}
                {% endif %}
                {% endif %}
            </li>
            {%- endif %}
            <li class="list-group-item">
                <b>Genre:</b> {{ edition.work.genres|join(', ', attribute='genre_name') }}
            </li>
            {% if edition.misc|length %}
            <li class="list-group-item">
                <b>Muuta:</b> {{ edition.misc }}
            </li>
            {% endif %}
        </ul>
        <div class="accordion" id="editionCard">
            {% if edition.collection == True %}
            <div class="card">
                <div class="card-header" id="headStories">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#stories" aria-expanded="false" aria-controls="stories">
                            Novellit
                        </button>
                    </h2>
                </div>
                <div id="stories" class="collapse" aria-labelledby="headStories" data-parent="#editionCard">
                    <div class="card-body">
                        {% if stories|length %}
                        <ul class="list-group list-group-flush">
                            {% for story in stories %}
                            <li class="list-group-item">
                                {% if story.creator_str != edition.work.creator_str %}
                                <b><span class="person-list">{{ story.creator_str }}</span></b>: {% endif %}
                                <a href=" {{ url_for('story', id=story.id) }}">{{ story.title }}</a>
                                {% if story.orig_title != story.title %}({{ story.orig_title}}
                                {%- if story.pubyear %}, {{story.pubyear}}{% endif %}) {% elif
                story.pubyear %} ({{ story.pubyear}}) {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

</div>
{% block script %}
<script src="/static/js/personlink.js" type="text/javascript"></script>
{% endblock %}
{% endblock %}