{% extends "base.html" %}
{% block content %}
{% if form.id %}
<h1>Muokkaa painosta</h1>
{% else %}
<h1>Uusi painos</h1>
{% endif %}
<form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
        {{ form.title.label }}<br>
        {{ form.title(size=50) }}<br>
        </p>
        <p>
        {{ form.pubyear.label }}<br>
        {{ form.pubyear(size=4) }}<br>
        </p>
        {{ form.language.label }}<br>
        {{ form.language(size=2) }}<br>
        </p>
        <p>
        {{ form.translators.label }}<br>
        {{ form.translators(size=100) }}
        </p>
        <p>
        {{ form.editors.label }}<br>
        {{ form.editors(size=100) }}
        </p>
        <p>
        {{ form.edition.label }}<br>
        {{ form.edition(size=2) }}
        </p>
        <p>
        {{ form.publisher.label }}<br>
        {{ form.publisher(size=50, id="publisher")}}
	{% if form.publisher.errors %}
	{% for error in form.publisher.errors %}<br>{{ error }}{% endfor %}
	{% endif %}
        <p>
        {{ form.pubseries.label }}<br>
        {{ form.pubseries(id="pubseries") }}
        </p>
        <p>
        {{ form.pubseriesnum.label }}<br>
        {{ form.pubseriesnum(size=2) }}<br>
        </p>
        <p>
        {{ form.isbn.label }}<br>
        {{ form.isbn(size=13) }}<br>
        </p>
        <p>
        {{ form.misc.label}}<br>
        {{ form.misc(size=100) }}
	{% if form.misc.errors %}
	{% for error in form.misc.errors %}<br>{{ error }}{% endfor %}
	{% endif %}
        </p>
        <p>{{ form.submit() }}</p>
</form>
<p>Aineiston lähde: {{ source }}</p>

<!--	<script src="/static/js/pubseries.js"></script> -->
{% endblock %}

{% block scripts %}

<script>

	$(document).ready(function(){
		{% if selected_pubseries != 0 %}
			$("#pubseries").val("{{ selected_pubseries|string() }}");
		{% endif %}
	});

	$("#publisher").on("input", function() {
		var name = $("#publisher").val();
		var request = $.ajax({
			type: 'POST',
			url: '/list_pubseries/' + name,
		});
		request.done(function(data){
			var option_list = [["0", "Ei sarjaa"]].concat(data);
			
			$("#pubseries").empty();
			for (var i = 0; i < option_list.length; i++) {
				$("#pubseries").append(
					$("<option></option>").attr(
						"value", option_list[i][0]).text(option_list[i][1])
					);
			}
		});
	});

</script>
{% endblock %}

