{% extends "base.html" %}
{% block content %}
<h1>{{ edition.title }} 
{% if current_user.is_admin %} 
    ({{ edition.id }})
{% endif %} 
</h1>
        {% if edition.image_src %}
        <img style="float: left; margin: 0px 10px 0px 0px;" src="{{edition.image_src}}">
        {% endif %}
<p>Alkuperäinen teos: <a href=" {{ url_for('work', workid=edition.work.id) }}">{{edition.work.title }}</a>
</p>
<p>Kirjoittaja(t): 
{% for author in edition.work.authors[:-1] %} 
<a href=" {{ url_for('person', personid=author.id) }}">{{ author.name }}</a> & 
{% endfor %}
<a href=" {{ url_for('person', personid=edition.work.authors[-1].id) }}">{{ edition.work.authors[-1].name }}</a>
</p>
{% if edition.translators|length %}
<p>Kääntäjät: {% for translator in edition.translators[:-1] %}
<a href=" {{ url_for('person', personid=translator.id) }}">{{ translator.name }}</a> &
</p>
{% endfor %}
<a href=" {{ url_for('person', personid=edition.translators[-1].id) }}">{{edition.translators[-1].name }}</a>
{% endif %}
{% if edition.editors|length %}
Toimittaja(t): {% for editor in edition.editors[:-1] %}
<a href=" {{ url_for('person', personid=editor.id) }}">{{ editor.name }}</a>
{% endfor %}
<a href=" {{ url_for('person', personid=edition.editors[-1].id) }}">{{edition.editors[-1].name }}</a>
{% endif %}
<p>Julkaisuvuosi: {{ edition.pubyear }}</p>
<p>Painos: {{ edition.editionnum }}.</p>
<p>Kustantaja: <a href=" {{ url_for('publisher', pubid=edition.publisher.id)
                        }}">{{ edition.publisher.name }}</a></p>
{%- if edition.pubseries.name|length -%}
<p>Julkaisijan sarja: <a href=" {{ url_for('pubseries',
                                  seriesid=edition.pubseries.id) }}">{{
                                  edition.pubseries.name -}}</a>
	{%- if edition.pubseriesnum -%}
		, numero {{ edition.pubseriesnum }}</p>
	{% endif %}
{%- endif %}
{% if edition.work.bookseries.name|length %}
<p>Kirjasarja: <a href=" {{ url_for('bookseries',
                           seriesid=edition.work.bookseries.id) }} ">{{
                           edition.work.bookseries.name }}</a>
	{% if edition.work.bookseriesnum %}
		{% if edition.work.bookseriesnum|length %}
		, numero {{ edition.work.bookseriesnum }}</p>
		{% endif %}
	{% endif %}
{%- endif %}
<p>Genre: {{ edition.work.genre }}</p>
<p>Muuta: {{ edition.misc }}</p>
{% if current_user.is_admin %} 
<p>Aineiston lähde: {{ edition.fullstring }}</p>
{% endif %}
{% if current_user.is_admin %} 
<p><a href=" {{ url_for('edit_edition', editionid=edition.id) }} ">Muokkaa</a></p>
{% endif %}
<hr width=50%>
{% if other_editions %}
    <h2>Muut painokset</h2>
    {% for edition in other_editions %}
        {% include "_edition.html" %}
    {% endfor %}
{% endif %}
{% endblock %}
