{% extends "base.html" %}
{% block content %}
{% from 'macros.html' import render_field %}
{% from 'macros.html' import auto_complete %}

<div class="container">
	<form action="" method=post>
		{{ form.hidden_tag() }}
		{{ render_field(form.name) }}
		{{ render_field(form.publisher, id="publisher")}}
		{{ render_field(form.issn) }}
		{{ render_field(form.description) }}
		{{ render_field(form.link)}}

		<div class="row justify-content-md-center">{{ form.submit() }}</div>
	</form>
</div>
{{ auto_complete("publisher", "/autocomp_publisher")}}

{% endblock %}