{% extends "base.html" %}
{% block content %}
{% from 'macros.html' import render_field %}
{% from 'macros.html' import auto_complete %}

<div class="container">
	{% if form.id.data == 0 %}
	<h1>Uusi painos</h1>
	{% else %}
	<h1>Muokkaa painosta</h1>
	{% endif %}
	<form action="" method="post">
		{{ form.hidden_tag() }}
		{{ render_field(form.title) }}
		{{ render_field(form.pubyear) }}
		{{ render_field(form.language) }}
		{{ render_field(form.translators, id="translators") }}
		{{ render_field(form.editors, id="editors") }}
		{{ render_field(form.edition) }}
		{{ render_field(form.version, size=2) }}
		{{ render_field(form.publisher, id="publisher") }}
		{{ render_field(form.pubseries, id="pubseries") }}
		{{ render_field(form.pubseriesnum) }}
		{{ render_field(form.pages) }}
		{{ render_field(form.isbn) }}
		{{ render_field(form.cover) }}
		{{ render_field(form.binding) }}
		{{ render_field(form.format) }}
		{{ render_field(form.size) }}
		{{ render_field(form.misc) }}
		{{ render_field(form.image_src) }}
		{{ form.submit() }}
	</form>
	<p>Aineiston lähde: {{ source }}</p>

</div>
{{ auto_complete("translators", "/autocomp_person")}}
{{ auto_complete("editors", "/autocomp_person")}}
{{ auto_complete("publisher", "/autocomp_publisher")}}
{{ auto_complete("pubseries", "/autocomp_pubseries")}}

{% endblock %}
{% block scripts %}

{% endblock %}