{% macro editionnum(version, editionnum, showfirst) %}
{% if version|int > 1 %}
{{ version }}.laitos
{%- if editionnum == None %}
?.painos
{% elif editionnum > 1 or showfirst %}
{{ editionnum }}.painos
{%- endif -%}
:
{% else %}
{% if editionnum == None %}
?.painos:
{% elif editionnum and editionnum > 1 or showfirst %}
{{ editionnum }}.painos:
{% endif %}
{% endif %}

{% endmacro %}

{% macro render_field(field) %}

<div class="form-row">
    <div class="col-md-3 mb-3">
        <b>{{ field.label }}</b>
    </div>
    <div class="col-md-8 mb-3">
        {{ field(class="form-control", **kwargs)|safe }}
        {% if field.errors %}
        <ul class=errors>
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro auto_complete(field, endpoint) %}
<script>
    $(document).ready(function () {
        $("{{field}}").autocomplete("enable");

        $(function () {
            $("#{{field}}").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        type: "POST",
                        url: "{{endpoint}}",
                        dataType: "json",
                        cache: false,
                        data: {
                            q: request.term
                        },
                        success: function (data) {
                            response(data);
                        },
                        error: function (jqHR, textStatus, errorThrown) {
                            console.log(textStatus + " " + errorThrown);
                        }
                    });
                },
                minLength: 2,
                autoFocus: true
            });
        });
    });
</script>
{% endmacro %}

{% macro modal_button(target, text) %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{target}}">
    {{text}}
</button>
{% endmacro %}

{% macro print_story_type(type_name, stories, person) %}
{% for a_group in stories %}
<div class="mt-1">
    {% if a_group.grouper == person.name %}
    <h4 class="mb-0">{{type_name}}</h4>
    {% else %}
    <h4 class="mb-0">{{type_name}}: {{a_group.grouper}}</h4>
    {% endif %}
    {% for story in a_group.list %}
    <b><a href="{{url_for('story', id=story.id)}}">{{story.title}}</a></b>
    ({%- if story.orig_title != story.title %}{{story.orig_title}}, {%endif %}{{story.pubyear}}).
    {% if story.works|length %}
    <br>
    <div style="margin-left:1rem; margin-bottom:0rem;">Teoksissa:
        {% for work in story.works %}
        <a href="{{url_for('edition', editionid=work.editions[0].id)}}">{{work.title}}</a> ({{work.pubyear}}).
        {% endfor %}
    </div>
    {%endif %}
    {% if story.issues|length %}
    <div style="margin-left:1rem; margin-bottom:0rem;">Lehdissä:
        {% for issue in story.issues %}
        <a href="{{url_for('issue', id=issue.id)}}">{{issue.magazine.name}} {{issue.number}} /
            {{issue.year}}</a>.
        {% endfor %}
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endfor %}

{% endmacro %}

{% macro print_story_long(story) %}

{% endmacro %}