{% macro render_field(field) %}

<div class="form-row">
    <div class="col-md-3 mb-3">
        <b>{{ field.label }}</b>
    </div>
    <div class="col-md-8 mb-3">
        {{ field(class="form-control", **kwargs)|safe }}
        {% if field.errors %}
        <ul class=errors>
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro auto_complete(field, endpoint) %}
<script>
    $(document).ready(function () {
        $("{{field}}").autocomplete("enable");

        $(function () {
            $("#{{field}}").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        type: "POST",
                        url: "{{endpoint}}",
                        dataType: "json",
                        cache: false,
                        data: {
                            q: request.term
                        },
                        success: function (data) {
                            response(data);
                        },
                        error: function (jqHR, textStatus, errorThrown) {
                            console.log(textStatus + " " + errorThrown);
                        }
                    });
                },
                minLength: 2,
                autoFocus: true
            });
        });
    });
</script>
{% endmacro %}

{% macro modal_button(target, text) %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{target}}">
    {{text}}
</button>
{% endmacro %}