{% macro editionnum(version, editionnum, showfirst) %}
{% if version|int > 1 %}
{{ version }}.laitos
{% if editionnum == None %}
?.painos
{% elif editionnum > 1 or showfirst %}
{{ editionnum }}.p
{%- endif -%}
:
{% else %}
{% if editionnum == None %}
?.painos:
{% elif editionnum and editionnum > 1 or showfirst %}
{{ editionnum }}.p:
{% endif %}
{% endif %}

{% endmacro %}

{% macro render_field(field) %}

<div class="form-row">
    <div class="col-md-3 mb-3">
        <b>{{ field.label }}</b>
    </div>
    <div class="col-md-8 mb-3">
        {{ field(class="form-control", **kwargs)|safe }}
        {% if field.errors %}
        <ul class=errors>
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro auto_complete(field, endpoint) %}
<script>
    $(document).ready(function () {
        $("{{field}}").autocomplete("enable");

        $(function () {
            $("#{{field}}").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        type: "POST",
                        url: "{{endpoint}}",
                        dataType: "json",
                        cache: false,
                        data: {
                            q: request.term
                        },
                        success: function (data) {
                            response(data);
                        },
                        error: function (jqHR, textStatus, errorThrown) {
                            console.log(textStatus + " " + errorThrown);
                        }
                    });
                },
                minLength: 2,
                autoFocus: true
            });
        });
    });
</script>
{% endmacro %}

{% macro modal_button(target, text) %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{target}}">
    {{text}}
</button>
{% endmacro %}

{% macro print_story_single(story) %}
<b><a href="{{url_for('story', id=story.id)}}">{{story.title}}</a></b>
({%- if story.orig_title != story.title %}{{story.orig_title}}, {%endif %}{{story.pubyear}}).
{% if story.works|length %}
<br>
<div style="margin-left:1rem; margin-bottom:0rem;">Teoksissa:
    {% for work in story.works %}
    <a href="{{url_for('edition', editionid=work.editions[0].id)}}">{{work.title}}</a> ({{work.pubyear}}).
    {% endfor %}
</div>
{%endif %}
{% if story.issues|length %}
<div style="margin-left:1rem; margin-bottom:0rem;">Lehdissä:
    {% for issue in story.issues %}

    <a href="{{url_for('issue', id=issue.id)}}">
        {% if issue.number %}
        {{issue.magazine.name}} {{issue.number}} /
        {{issue.year}}
        {%- else -%}
        {{issue.magazine.name}} {{issue.count}}
        {%- endif -%}
    </a>.
    {% endfor %}
</div>
{% endif %}
{% endmacro %}

{% macro print_story_type(type_name, type_id, stories, person) %}
{% if stories|selectattr("story_type", "equalto", type_id)|list|length %}
<div class="mb-3">
    <h4 class="mb-0">{{type_name}}</h4>
    {% for story in stories|selectattr("author_str", "equalto", person.name)|selectattr("story_type", "equalto",
    type_id) %}
    {{ print_story_single(story)}}
    {% endfor %}
</div>
{% for a_group in stories|selectattr("author_str", "ne", person.name)|selectattr("story_type", "equalto",
type_id)|groupby(attribute="author_str") %}
<div class="mb-3">
    <h5 class="mb-0">{{type_name}}: {{a_group.grouper}}</h5>
    {% for story in a_group.list %}
    {{ print_story_single(story)}}
    {% endfor %}
</div>
{% endfor %}
{% endif %}
{% endmacro %}

{% macro print_story_long(story) %}

{% endmacro %}

{% macro print_article_long(article) %}
{{ article.issue.magazine.name }} {% if article.issue.number %}
{{ article.issue.number }} / {{ article.issue.year }} {% else %}
{{ article.issue.count }} {% endif %}: <a href="{{url_for('article', id=article.id)}}">{{ article.title }}</a>.<br>
{% endmacro %}


{% macro awards_form(awards) %}
Palkinnot: {# <button type="button" data-toggle="fieldset-add-row" data-target="#award-fieldset">+</button> #}
<table>
    {% if awards|length %}
    {% for award in awards %}
    <tr data-toggle="fieldset-entry">
        <td><b>{{award.award.name}}</b>, {{award.year}} ({{award.category.name}})</b></td>
        <td><button type="button" data-toggle="fieldset-remove-row" id="award-{{loop.index0}}-remove">-</button>
        </td>
    </tr>
    {% endfor %}
    {% endif %}
</table>

{% endmacro %}