{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="card border-primary mb-3" style="margin: 1rem auto">
        <div class="card-header">
            {{ magazine.publisher.name }}
        </div>
        <div class="card-body">
            <h1 class="card-title">
                {{ magazine.name }}
                {% if current_user.is_authorized %}
                ({{ magazine.id }})
                {% endif %}
            </h1>
        </div>
        <ul class="list-group list-group-flush">
            {% if magazine.link %}
            <li class="list-group-item">
                <a href="{{ magazine.link }}">Kotisivut</a>
            </li>
            {% endif %}
        </ul>
        <ul class="list-group list-group-flush">
            {% if magazine.issn %}
            <li class="list-group-item">
                ISSN: {{ magazine.issn }}
            </li>
            {% endif %}
        </ul>
        <ul class="list-group list-group-flush">
            {% if magazine.description %}
            <li class="list-group-item">
                {{ magazine.description }}
            </li>
            {% endif %}
        </ul>
        <div class="accordion" id="magCard">
            <div class="card">
                <div class="card-header" id="headNumbers">
                    <h2 class="mb-0">
                        <div class="row">
                            <div class="col col-md-10">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#series" aria-expanded="true" aria-controls="series">
                                    Numerot
                                </button>
                            </div>
                            <div class="col">
                                <button onclick="switchStyle()" id="switcher"
                                    class="btn btn-light text-right">Kannet</button>
                            </div>
                        </div>
                </div>

                </h2>
            </div>
            <div id="series" class="collapse show" aria-labelledby="headSeries" data-parent="#magCard">
                <div class="card-body">
                    <div id="textual" class="mb-0">
                        <ul class="list-group list-group-flush">
                            {% for issue in magazine.issues %}
                            <li class="list-group-item">
                                <b><a href="{{ url_for('issue', id=issue.id)}}">
                                        {% if issue.number -%}
                                        {{ issue.number }}
                                        {%- if issue.number_extra -%}
                                        {{ issue.number_extra }}
                                        {% endif %}
                                        / {{ issue.year }}
                                        {%- else -%}
                                        {{ issue.count }}
                                        {%- if issue.number_extra -%}
                                        {{ issue.number_extra }}
                                        {% endif %}
                                        / {{ issue.year}}
                                        {%- endif -%}

                                    </a></b>
                                {%- if issue.title -%}
                                : {{ issue.title }}
                                {% endif %}

                            </li>
                            <li class="list-group-item">
                                <b>Sivuja</b>: {{ issue.pages }}
                                {% if issue.size_id %}
                                ({{issue.size.name}})
                                {% endif %}
                            </li>
                            {% if issue.tags %}
                            <li class="list-group-item">
                                {% set tags = issue.tags %}
                                {{ tags|map(attribute='name')|join(', ')}}
                            </li>
                            {% endif %}
                            <li class="list-group-item">
                                <b>Artikkelit</b>: {{
                                issue.articles|map(attribute='title')|join(' /
                                ')}}
                            </li>
                            <li class="list-group-item">
                                <b>Novellit</b>: {{ issue.stories|map(attribute='title')|join('
                                / ')}}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="pics">
                        <div class="row">
                            {% for issue in magazine.issues %}

                            <div class="column">
                                <a href="{{url_for('issue', id=issue.id)}}">
                                    <figure class="figure">
                                        {% if issue.image_src %}
                                        <img src="{{ issue.image_src }}" width="250" style="margin: 0 1rem 1rem 0;">
                                        {% else %}
                                        <img src="/static/icons/Printing-Magazine-icon.png" class="img-thumbnail"><br>
                                        {%endif%}
                                        <figcaption class="figure-caption text-center align-text-top">{{ issue.number }}
                                            / {{issue.year}}</b>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-header" id="headAdmin">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#admin" aria-expanded="false" aria-controls="series">
                        Ylläpito
                    </button>
                </h2>
            </div>
            <div id="admin" class="collapse" aria-labelledby="headAdmin" data-parent="#magCard">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="{{url_for('edit_magazine', id=magazine.id)}}">Muokkaa</a>
                        </li>
                        <li class="list-group-item"><a href="{{url_for('add_issue', magazine_id=magazine.id)}}">Lisää
                                numero</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById('pics').style.display = 'none';
    })
</script>

<script>
    function switchStyle() {
        var pics = document.getElementById('pics');
        var txt = document.getElementById('textual');
        if (pics.style.display == 'none') {
            pics.style.display = 'block';
            txt.style.display = 'none';
            document.getElementById('switcher').textContent = 'Lista';

        } else {
            pics.style.display = 'none';
            txt.style.display = 'block';
            document.getElementById('switcher').textContent = 'Kannet';
        }
    }
</script>

{% endblock %}