{% macro award_modal(award_list, award_categories) -%}
<div class="modal" tabindex="-1" role="dialog" id="add-award" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Palkinto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Sulje">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form>
                        <div class="row">
                            <div class="col-3">
                                <label for="award-year">Vuosi
                                    <input type="text" class="form-control form-item" id="award-year" name="award-year">
                                </label>
                            </div>
                            <div class="col-4">
                                <label for="award">Palkinto
                                    <select class="form-control" data-placeholder="Palkinto" id="award-name"
                                        data-name="award-name" name="award-name">
                                        {% for award in award_list %}
                                        <option value="{{award.id}}">{{award.name}}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                            <div class="col-4">
                                <label for="category">Kategoria
                                    <select class="form-control" data-placeholder="Kategoria" data-name="category-name"
                                        id="category-name" name="category-name">
                                        {% for cat in award_categories %}
                                        <option value="{{cat.id}}">{{cat.name}}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveAward();">Lisää</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Sulje</button>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro link_modal() %}

{% endmacro %}