{% extends "base.html" %}
{% block content %}
<div class="three-column">
<ul>
{% for series in pubseries %}
<li><a href="#{{series.id}}">{{series.name}}</a></li>
{% endfor %}
</ul>
</div>
{% for series in pubseries %}
	<h2><a name="{{series.id}}"><a href="{{url_for('pubseries',
		     seriesid=series.id)}}">{{ series.name }} ({{ series.publisher.name
		}})</a></h2>
	<div class="small-link>">[<a href="{{url_for('removefavpubcol',
		     pubseriesid=series.id)}}">Poista suosikeista</a>]</div>

	{% for author in authors %}
	    {% for work in author.works %}
	    	{% if work.editions|map(attribute='pubseries_id')|select("equalto",
	            series.id)|list()|length %}
			{% for edition in work.editions if edition.pubseries_id|string() == series.id|string() %}
				<div>
	    				{% include "_edition.html" %}</p>
				</div>
			{% endfor %}
	        {% endif %}
	    {% endfor %}
	{% endfor %}
{% endfor %}
{% endblock %}

{% block scripts %}

    <script>
        $(".ownerstate").click(function() {
		var obj = $('#SelectElementId');
            if ($(this).attr('href') == '#remove') {
		$(this).parent().attr('style', 'padding-left: 25px;');
                $(this).attr('href', '#add');
                $(this).text(' + ');
                var request = $.ajax({
                    type: 'POST',
                    url: '/remove_from_owned/' + $(this).attr('id'),
                });
            } else {
		$(this).parent().attr('style', 'border-left: 6px solid grey; padding-left: 19px');
		$(this).attr('href', '#remove');
		$(this).text(' - ');
                var request = $.ajax({
                    type: 'POST',
                    url: '/add_to_owned/' + $(this).attr('id'),
                });
	    }
           return false;
        });
    </script>

{% endblock %}
