{% extends "base.html" %}
{% block content %}
<ul>
{% for series in pubseries %}
<li><a href="#{{series.id}}">{{series.name}}</a></li>
{% endfor %}
</ul>
{% for series in pubseries %}
<h2><a name="{{series.id}}">{{ series.name }} ({{ series.publisher.name
        }})</a></h2>

    {% for author in authors %}
        {% if author.books|map(attribute='pubseries_id')|select("equalto",
            series.id)|list()|length %}
            <h3><a href=" {{url_for('person', personid=author.id) }}">{{
                    author.name }}</a></h3>

            {% for book in author.books if book.pubseries_id|string() == series.id|string() %}
                        {% include "_book.html" %}</p>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}
{% endblock %}

{% block scripts %}

    <script>
        $(".ownerstate").click(function() {
		var obj = $('#SelectElementId');
            if ($(this).attr('href') == '#remove') {
		$(this).parent().attr('style', 'padding-left: 25px;');
                $(this).attr('href', '#add');
                $(this).text(' + ');
                var request = $.ajax({
                    type: 'POST',
                    url: '/remove_from_owned/' + $(this).attr('id'),
                });
            } else {
		$(this).parent().attr('style', 'border-left: 6px solid grey; padding-left: 19px');
		$(this).attr('href', '#remove');
		$(this).text(' - ');
                var request = $.ajax({
                    type: 'POST',
                    url: '/add_to_owned/' + $(this).attr('id'),
                });
	    }
           return false;
        });
    </script>

{% endblock %}
