{% extends "base.html" %}
{% block content %}
<div class="container">
<h1>Uusi kustantajan sarja</h1>
<form action="" method=post>
        {{ form.hidden_tag() }}
        <p>
        {{ form.name.label }}<br>
        {{ form.name(size=50) }}<br>
        </p>
        <p>
        {{ form.publisher.label }}<br>
        {{ form.publisher(size=50) }}<br>
        <p>
        {{ form.important.label }}
        {{ form.important }}
        </p>
        <p>{{ form.submit() }}</p>
</form>
</div>
{% endblock %}

{% block scripts %}
    <script>
    {% include "_searchable_lists.html" %}
    </script>
{% endblock %}
