{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 style="text-align: center;">{{header}}</h1>
    <div style="text-align"></div>
    <ul class="list-inline">
        {% for char in letters %}
        <li class="list-inline-item"><a href="#{{char}}">{{char}}</a></li>
        {% endfor %}
    </ul>
    {% for char in letters %}
    <h3 id="{{char}}" style="background: #82CAFF;">{{char}}</h3>
    <div class="three-column">
        {% for person in people|sort(attribute='name') %}
        {% if char == person.name|upper|truncate(1, True, end='', leeway=0) %}
        <a href="{{ url_for('person', personid=person.id) }}">{{ person.name }}</a><br>
        {%endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}