{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="title">{{header}}</h1>
    <div style="text-align: center;" class="mb-3">
        <b><a href="{{url_for('people')}}">Kaikki</a><br>
            <a href="{{url_for('authors')}}">Kirjailijat</a> &bullet;
            <a href="{{url_for('story_authors')}}">Novellistit</a> &bullet;
            <a href="{{url_for('translators')}}">Kääntäjät</a> &bullet;
            <a href="{{url_for('editors')}}">Toimittajat</a><br>
            <a href="{{url_for('article_authors')}}">Artikkeleja kirjoittaneet</a>
        </b>
    </div>
    {% if current_user.is_admin %}
    <div style="text-align: center;">
        <a href="{{url_for('new_person')}}">Lisää henkilö</a>
    </div>
    {% endif %}
    <div class="row">
        <div class="col fs-1" style="text-align: center; font-size: x-large;">
            <ul class="list-inline">
                {% for char in letters %}
                <li class="list-inline-item"><a href="#{{char}}">{{char}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% for char in letters %}
    <h3 id="{{char}}" style="background: #82CAFF;">{{char}}</h3>
    <div class="row">
        <div class="col">
            <div class="three-column">
                {% for person in people|sort(attribute='name') %}
                {% if char == person.name|upper|truncate(1, True, end='', leeway=0) %}
                <a href="{{ url_for('person', personid=person.id) }}">{{ person.name }}</a><br>
                {%endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}