{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 style="text-align: center;">{{header}}</h1>
    <div class="three-column">
        {# {% for char in "ABCDEFGHIJKLMNOPQRSTUVXYZÅÄÖ" %} #}
        {% for char in letters %}
        <h3 style="background: #82CAFF;">{{char}}</h3>
        {% for person in people %}
        {% if char == person.name|upper|truncate(1, True, end='') %}
        <a href="{{ url_for('person', personid=person.id) }}">{{ person.name }}</a><br>
        {%endif %}
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}