{% extends "base.html" %}
{% block content %}
<h1>
    {% if person.first_name %}
    {{ person.first_name }} {{ person.last_name }}
    {% else %}
    {{ person.name }}
    {% endif %}

    {% if current_user.is_admin %} 
    ({{person.id}})
    {% endif %}
</h1>	
<!--
        {% if person.real_names %}
            <p>( {{ person.real_names|join(', ', attribute='name')}} 
            {{ person.real_names|join(', ', attribute='id') }}
            )</p>
        {% endif %}
        {% if person.aliases %}
            <p>Pseudonyymit: {{ person.aliases|join(',', attribute='name')}}</p>
        {% endif %}
-->
        <div>
        {% if person.image_src %}
        <img style="float: left; margin: 0px 10px 0px 0px;" src="{{person.image_src}}">
        {% endif %}
        <p><b>Etunimi</b>: {{ person.first_name if person.first_name }}</p>
        <p><b>Sukunimi</b>: {{ person.last_name if person.last_name  }}</p>
        
        <p><b>Syntymävuosi</b>: {{ person.dob if person.dob }}</p>
        <p><b>Kuolinvuosi</b>: {{ person.dod if person.dod }}</p>
        <p><b>Syntymäpaikka</b>: {{ person.birthplace if person.birthplace }}</p>
        {% if person.fullstring %}
        <p><b>Lähde</b>: {{ person.fullstring }}</p>
        {% endif %}
        </div>
        <br style="clear: both">
        {% if current_user.is_admin %} 
        <p><a href=" {{ url_for('edit_person', personid=person.id)
                    }}">Muokkaa</a></p>
        {% endif %}
	{% if person.works|length %}
		<h2>Kirjoittanut</h2>
		{% for work in person.works|sort(attribute='pubyear') %}
			{% include "_work.html" %}
		{% endfor %}
	{% endif %}
	{% if person.translations|length %}
		<h2>Kääntänyt</h2>
		{% for edition in
                person.translations|sort(attribute='pubyear') %}
			{% include "_edition.html" %}
		{% endfor %}
	{% endif %}
	{% if person.edits|length %}
		<h2>Toimittanut</h2>
		{% for edition in person.edits|sort(attribute='pubyear') %}
			{% include "_edition.html" %}
		{% endfor %}
	{% endif %}
        <hr width=50%>
            {% if current_user.is_admin %} 
                <p><a href="{{url_for('add_authored', authorid=person.id) }}">
                    Lisää teos</a>
                </p>
            {% endif %}

{% endblock %}
