{% extends "base.html" %}
{% block content %}
<h1>
    {% if person.first_name %}
    {{ person.first_name }} {{ person.last_name }}
    {% else %}
    {{ person.name }}
    {% endif %}

    {% if current_user.is_admin %}
    ({{person.id}})
    {% endif %}
</h1>
<div>
        {% if person.real_names %}
        <br><b>Oik.</b>:
            {% for rn in person.real_names %}
            <a href="{{url_for('person', personid=rn.id)}}">{{ rn.first_name }}
                       {{rn.last_name}}</a><br>
            {% endfor %}
        {% endif %}
        {% if person.aliases %}
        <br><b>Pseudonyymit</b>:
            {% for rn in person.aliases %}
            <a href="{{url_for('person', personid=rn.id)}}">{{ rn.first_name }}
                {{ rn.last_name }}</a><br>
            {% endfor %}
        {% endif %}
        </div>
        <p>
        <div>
        {% if person.image_src %}
        <img style="float: left; margin: 0px 10px 0px 0px;" src="{{person.image_src}}">
        {% endif %}

        {% if person.birthplace %}
            {{ person.birthplace }}
        {%- endif -%}
        {%- if person.birthplace and person.dob -%},{% endif %}
        {% if person.dob %}
            {{ person.dob }}-{{ person.dod if person.dod }}
        {% endif %}
        {% if person.fullstring %}
        <p><b>Lähde</b>: {{ person.fullstring }}</p>
        {% endif %}
        </div>
        <br style="clear: both">
        {% if current_user.is_admin %}
        <p><a href=" {{ url_for('edit_person', personid=person.id)
                    }}">Muokkaa</a></p>
        {% endif %}
	{% if person.works|length %}
		<h2>Kirjoittanut</h2>
		{% for work in person.works|sort(attribute='pubyear') %}
			{% include "_work.html" %}
		{% endfor %}
	{% endif %}
	{% if person.translations|length %}
		<h2>Kääntänyt</h2>
		{% for edition in
                person.translations|sort(attribute='pubyear') %}
			{% include "_edition.html" %}
		{% endfor %}
	{% endif %}
	{% if person.edits|length %}
		<h2>Toimittanut</h2>
		{% for edition in person.edits|sort(attribute='pubyear') %}
			{% include "_edition.html" %}
		{% endfor %}
	{% endif %}
        <hr width=50%>
            {% if current_user.is_admin %}
                <p><a href="{{url_for('add_authored', authorid=person.id) }}">
                    Lisää teos</a>
                </p>
            {% endif %}

{% endblock %}

{% block scripts %}
    <script>
        $(".ownerstate").click(function() {
		var obj = $('#SelectElementId');
                var addr = $(this).attr('href');
            if (addr == '#remove') {
		$(this).parent().attr('style', 'padding-left: 25px;');
                $(this).attr('href', '#add');
                $(this).text(' + ');
                var request = $.ajax({
                    type: 'POST',
                    url: '/remove_from_owned/' + $(this).attr('id'),
                });
            } else if (addr == '#add') {
		$(this).parent().attr('style', 'border-left: 6px solid grey; padding-left: 23px');
		$(this).attr('href', '#remove');
		$(this).text(' - ');
                var request = $.ajax({
                    type: 'POST',
                    url: '/add_to_owned/' + $(this).attr('id'),
                });
            }

           return false;
        });

    </script>
    <script src="/static/js/ownership.js" type="text/javascript"></script>
    <script src="/static/js/author.js" type="text/javascript">
{% endblock %}
