<h1>{{ title }}</h1>
{% if (type == 'pubseries') %}
	{% for edition in editions %}
		{% include "_edition.html" %}
	{% endfor %}
{% endif %}
{% if (type == 'bookseries') %}
	{% for work in works %}
		{% include "_work.html" %}
	{% endfor %}
{% endif %}
{% if (type == 'books') %}
    {% for author in works|groupby(attribute='creator_str') %}
    <h2><span>{{author.grouper}}
    </span></h2>
        {{ author.list[0].authors.name }}
        {% for work in author.list %}
            {% for edition in work.editions %}
                {% include "_printedition.html" %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endif %}
