<link rel="stylesheet" type="text/css" href="/static/print.css">

<h1>{{ title }}</h1>
{% if (type == 'pubseries') %}
{% for edition in editions|sort(attribute='pubseriesnum,pubyear') %}
{% include "_edition.html" %}
{% endfor %}
{% endif %}
{% if (type == 'bookseries') %}
{% for work in works %}
{% include "_work.html" %}
{% endfor %}
{% endif %}
{% if (type == 'books') %}
{% for author in works|groupby(attribute='author_str') %}


<h2>{{author.grouper}}</h2>
{% for work in author.list %}
{% for edition in work.editions %}
{% include "_printedition.html" %}

{% endfor %}
{% endfor %}
{% endfor %}
{% endif %}