{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="container"><a href=" {{ url_for('print_books', type='pubseries', id=series.id) }}
                    ">Tulosta</a></div>
    <h1 class="title">{{series.name}} ({{ series.publisher.name }})
        {% if favorite == 1 %}*{% endif %}
    </h1>
    {% if current_user.is_authorized %}
    {% if favorite == 1 %}
    <div class="small-link>">[<a href="{{url_for('removefavpubcol',
			 pubseriesid=series.id)}}">Poista suosikeista</a>]</div>
    {% else %}
    <div class="small-link>">[<a href="{{url_for('addfavpubcol',
		     pubseriesid=series.id)}}">Lisää suosikiksi</a>]
    </div>
    {% endif %}
    <br>
    {% endif %}

    <h2>{{ books|map(attribute='pubyear')|reject("none")|list|min }}
        - {{ books|map(attribute='pubyear')|reject("none")|list|max }}
    </h2>
    Kirjoja yhteensä {{ books|length }}<br>

    <br>
    <div class="mb-3">
        <button onclick="switchStyle()" id="switcher" class="btn btn-light">Kannet</button>
    </div>
    <div id="textual">
        <ul class="list-group list-group-flush">
            {% for edition in books %}
            {% set pubnumber = 1 %}
            <li style="list-style-position: inside; list-style-type: none;
            "> {% include "_edition.html" %}</li>
            {% endfor %}
        </ul>
    </div>
    <div id="pics">
        <div class="row">
            {% for edition in books %}
            <div class="column">
                {% if edition.images|length %}
                <figure class="figure">
                    <a href="{{url_for('edition', editionid=edition.id)}}">
                        <img src="{{edition.images[0].image_src}}" width="250" style="margin: 0 1rem 1rem 0">
                    </a>
                </figure>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}

    {% block scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById('pics').style.display = 'none';
        })
    </script>
    <script src="/static/js/contentSwitcher.js"></script>

    <script>
        $(".ownerstate").click(function () {
            var obj = $('#SelectElementId');
            var addr = $(this).attr('href');
            if (addr == '#remove') {
                $(this).parent().attr('style', 'padding-left: 25px;');
                $(this).attr('href', '#add');
                $(this).text(' + ');
                var request = $.ajax({
                    type: 'POST',
                    url: '/remove_from_owned/' + $(this).attr('id'),
                });
            } else if (addr == '#add') {
                $(this).parent().attr('style', 'border-left: 6px solid grey; padding-left: 23px');
                $(this).attr('href', '#remove');
                $(this).text(' - ');
                var request = $.ajax({
                    type: 'POST',
                    url: '/add_to_owned/' + $(this).attr('id'),
                });
            }

            return false;
        });

    </script>

</div>
{% endblock %}