{% extends "base.html" %}
{% block content %}
<div class="container">
<h1>Haku</h1>
{% macro render_field(field) %}
    <dt>{{ field.label }}
    <dd>{{ field(**kwargs)|safe }}
    {% if field.errors %}
        <ul class=errors>
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </dd>

{% endmacro %}

<p>
Voit käyttää prosenttimerkkiä (%) tekstikentissä jokerimerkkinä. Esimerkiksi
dyyni% hakee kaikki nimet, jotka alkavat sanalla "dyyni" ja %käsikirja% etsii
kaikki nimet, joissa esiintyy sana "käsikirja" jossain kohtaa.
</p>
<form action="" method=post>
        {{ form.hidden_tag() }}
        <h2>Teos</h2>
        {{ render_field(form.work_name, size=50) }}
        {{ render_field(form.work_origname, size=50) }}
        {{ render_field(form.work_pubyear_after, size=4) }}
        {{ render_field(form.work_pubyear_before, size=4) }}

        
        {{ render_field(form.work_genre, size=10, choices=genre_choices)}}
        

        <h2>Painos</h2>
        <p>
        {{ render_field(form.edition_name, size=50) }}
        {{ render_field(form.edition_pubyear_after, size=4) }}
        {{ render_field(form.edition_pubyear_before, size=4) }}
        {{ render_field(form.edition_editionnum, size=2) }}

        <h2>Kirjoittaja</h2>
        {{ render_field(form.author_name, size=30) }}
        {{ render_field(form.author_dob_after, size=4) }}
        {{ render_field(form.author_dob_before, size=4) }}
        {{ render_field(form.author_nationality, size=10,
        choices=nationalities) }}
        {# {{ render_field(form.author_alive, size=3) }} #}

        <p>{{ form.submit() }}</p>
</form>

</div>
{% endblock %}
