{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>Novellit</h1>
    <div>Yhteensä <b>{{ stories|length }}</b> novellia</div>
    {% for author in stories|groupby(attribute='author_str') %}
    <h2><span class="person-list">{{author.grouper}}</span></h2>
    {% for story in author.list %}
    <a href="{{url_for('story', id=story.id)}}">{{story.title}}</a>
    (
    {%- if story.orig_title|length and story.title != story.orig_title -%}
    {{story.orig_title}},
    {% endif -%}
    {{story.pubyear}}).<br>

    {% endfor %}
    {% endfor %}
</div>
{% endblock %}


{% block scripts %}

<script src="/static/js/personlink.js" type="text/javascript"></script>

{% endblock %}