{% extends "base.html" %}
{% block content %}

<div class="container" style="margin-top: rem;">
    <div class="row">
        <div class="col-md-4">
            <h2>Kirjoja genreittäin</h2>
        </div>
        <div class="col-md-4">
            <h2>Eniten käännöksiä</h2>
        </div>
        <div class="col-md-4">
            <h2>Eniten toimitettuja kirjoja</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul>
                {% for c in counts %}
                <li><img src="/static/icons/{{ c.abbr }}_16.png" title="{{c.genre_name}}">: <a href=" {{
                    url_for('books_by_genre', genre=c.genre_name)}}">{{
                    c.work_count }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                {% for person in translators %}
                <li><a href=" {{ url_for('person', personid=person.name)}}">{{person.name}}</a>: {{person.1}}</li>

                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                {% for person in editors %}
                <li><a href=" {{ url_for('person', personid=person.name)}}">{{person.name}}</a>: {{person.1}}</li>

                {% endfor %}
            </ul>

        </div>
    </div>
</div>
<h2 style="text-align: center;">Eniten kirjoja genreittäin</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3 style="text-align: center;">SF</h3>
        </div>
        <div class="col-md-4">
            <h3 style="text-align: center;">Kauhu</h3>
        </div>
        <div class="col-md-4">
            <h3 style="text-align: center;">Fantasia</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul>
                {% for person in topsf %}
                <li><a href=" {{ url_for('person', personid=person.name)}}">{{person.name}}</a>: {{person.1}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                {% for person in topk %}
                <li><a href=" {{ url_for('person', personid=person.name)}}">{{person.name}}</a>: {{person.1}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                {% for person in topf %}
                <li><a href=" {{ url_for('person', personid=person.name)}}">{{person.name}}</a>: {{person.1}}</li>
                {% endfor %}
            </ul>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3 style="text-align: center;">Nuorten SF</h3>
        </div>
        <div class="col-md-4">
            <h3 style="text-align: center;">Nuorten kauhu</h3>
        </div>
        <div class="col-md-4">
            <h3 style="text-align: center;">Nuorten fantasia</h3>
        </div>
        <div class="col-md-4">
            <ul>
                {% for person in topnsf %}
                <li><a href=" {{ url_for('person', personid=person.name)}}">{{person.name}}</a>: {{person.1}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                {% for person in topnk %}
                <li><a href=" {{ url_for('person', personid=person.name)}}">{{person.name}}</a>: {{person.1}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                {% for person in topnf %}
                <li><a href=" {{ url_for('person', personid=person.name)}}">{{person.name}}</a>: {{person.1}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<h2 style="text-align: center;">Muut</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3 style="text-align: center;">Kokoelmat</h3>
            <ul>
                {% for person in topcoll %}
                <li><a href=" {{ url_for('person', personid=person.name)}}">{{person.name}}</a>: {{person.1}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <h3 style="text-align: center;">Novellit</h3>
            <ul>
                {% for person in stories %}
                <li><a href=" {{ url_for('person', personid=person.name)}}">{{person.name}}</a>: {{person.1}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <h3 style="text-align: center;">Kansallisuudet</h3>
            <ul>
                {% for country in countries %}
                <li><a href=" {{ url_for('people_by_nationality',
                                   nationality=country.nationality)}}">{{country.nationality}}</a>:
                    <a href=" {{url_for('books_by_origin',
                                           country=country.nationality)}}">{{
                                           country.count }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<h2 style="text-align: center;">Muita tilastoja</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a href="{{url_for('book_count_by_year')}}">Kirjat julkaisuvuoden
                mukaan</a>
        </div>
    </div>
</div>
{% endblock %}