{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    {% if current_user.is_admin %}
    <form method="post" id="itemForm">
        {{form.hidden_tag()}}
        {% endif %}

        <div class="mb-3">
            {% if current_user.is_admin %}
            <div class="edit-field">
                <div class="edit-field">
                    <select class="author-selector form-control" multiple="multiple" data-placeholder="Kirjoittajat"
                        data-search="/select_person" data-save="/save_authors_to_story" data-init="/authors_for_story"
                        data-name="authors"></select>
                </div>
            </div>
            {% endif %}
            <div class="view-field">
                <h4 class="mt-4" style="text-align: center; font-variant: small-caps;">
                    <span class="person-list">{{ story.creator_str }}</span>
                </h4>
            </div>
            <div class="row">
                <div class="col">
                    <h1 class="mb-0" style="text-align: center;">
                        {% if current_user.is_admin %}
                        <div class="col edit-field">
                            <input type="text" class="form-control form-item" id="title" value="{{story.title}}"
                                name="title" form="itemForm">
                        </div>
                        {% endif %}
                        <div class="col view-field">
                            {{ story.title }}
                        </div>
                    </h1>
                </div>
            </div>
            <div class="row">
                {% if current_user.is_admin %}
                <div class="col-lg-8 edit-field">
                    <label for="orig_title">
                        Alkup. nimi
                        <input type="text" class="form-control form-item" id="orig_title" name="orig_title"
                            form="itemForm" value="{{story.orig_title}}">
                    </label>
                </div>
                <div class="col-lg-4 edit-field">
                    <label for="pubyear">
                        Julkaisuvuosi
                        <input type="text" width="20%" class="form-control form-item" id="pubyear" name="pubyear"
                            form="itemForm" value="{{story.pubyear}}">
                    </label>

                </div>
                {% endif %}
                <div class="col view-field">
                    <p style="text-align: center;">
                        <i>
                            {% if story.title != story.orig_title %}
                            {{ story.orig_title }}
                            {%- if story.pubyear -%}, {{ story.pubyear }}{% endif %}
                            {% endif %}
                        </i>
                    </p>
                </div>
            </div>
            <div class="row">
                {% if current_user.is_admin %}
                <div class="col edit-field mx-auto">
                    <select class="genre-selector form-control" multiple="multiple" data-placeholder="Genret"
                        data-search="/select_genre" data-save="/save_genres_to_story" data-init="/genres_for_story"
                        data-name="genres" id="genres" data-mininput="1"></select>
                </div>
                {% endif %}
                <div class="col view-field mx-auto">
                    {% for genre in story.genres %}
                    <li class="list-inline-item" style="padding-bottom:
                    1rem;"><img src="/static/icons/{{genre.abbr}}_32.png"></li>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                {% if current_user.is_admin %}
                <div class="col edit-field">
                    <select class="tag-selector form-control" multiple="multiple" data-placeholder="Asiasanat"
                        data-search="/select_tag" data-save="/save_tags_to_story" data-init="/tags_for_story"
                        data-name="tags" id="tags" data-tags="true"></select>
                </div>
                {% endif %}
                <div class="col view-field">
                    {% for tag in story.tags %}
                    <a href="{{ url_for('tag', tagid=tag.id)}}">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% if story.works %}
        <h5>Ilmestynyt teoksissa</h5>
        {% for work in story.works %}
        <p>
            {% include "_work.html" %}
            {% for edition in work.editions %}
            {% include "_work_edition.html" %}
            {% endfor %}
        </p>
        {% endfor %}
        {% endif %}
        {% if story.issues %}
        <h5>Ilmestynyt lehdissä</h5>
        {% for issue in story.issues %}
        <p style="padding-left: 25px;">
            <a href="{{ url_for('issue', id=issue.id)}}">
                {{ issue.magazine.name }}
                {% if issue.number %}
                {{ issue.number }} / {{ issue.year }}
                {% else %}
                {{ issue.count }}
                {% endif %}</a>

        </p>
        {% endfor %}
        {% endif %}
        {% if current_user.is_admin %}

        <input type="checkbox" id="edit_form" name="edit_form">
        <label for="edit_form">Muokkaa</label>
</div>

{% endif %}
</div>
</div>
{% if current_user.is_admin %}
</form>
{% endif %}
{% block script %}
<script src="/static/js/personlink.js" type="text/javascript"></script>
<script type="text/javascript">
    var itemId = '{{story.id}}'
</script>
<script src="/static/js/forms.js" type="text/javascript"></script>
{% endblock %}
{% endblock %}