{% extends "base.html" %}
{% block content %}
{% from 'macros.html' import auto_complete %}
{% from 'macros.html' import modal_button %}
<div class="container">
    <div class="card border-primary mb-3" style="width: 720px; margin: 1rem auto">
        <div class="card-header">
            <span class="person-list">{{ authors|map(attribute='name')|join(', ') }}</span>
        </div>

        <div class="card-body">
            <h3 class="card-title">
                {{ story.title }}
                {% if current_user.is_admin %}
                ({{ story.id }})
                {% endif %}
            </h3>
            <div class="col">
                {% if story.title != story.orig_title %}
                {{ story.orig_title }}
                {%- if story.pubyear -%}, {{  story.pubyear }}{% endif %}
                {% endif %}
            </div>
            <div class="col container col-lg-4 justify-content-end
			justify-content-center align-middle">
                {% for genre in story.genres %}
                <li class="list-inline-item" style="padding-bottom:
				   1rem;"><img src="/static/icons/{{genre.abbr}}_32.png"></li>
                {% endfor %}
                {% for tag in story.tags %}
                <a href="{{ url_for('tag', tagid=tag.id)}}">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>

        {% if works %}
        <dl class="list-group list-group-flush">
            <dt style="margin: 1rem ">Ilmestynyt teoksissa</dt>
            {% for work in works %}
            <dd class="list-group-item">
                {% include "_work.html" %}
                {% for edition in work.editions %}
                {% include "_work_edition.html" %}
                {% endfor %}
            </dd>
            {% endfor %}
        </dl>
        {% endif %}
        {% if story.issues %}
        <dl class="list-group list-group-flush">
            <dt style="margin: 1rem ">Ilmestynyt lehdissä</dt>
            {% for issue in story.issues %}
            <dd class="list-group-item">
                <a href="{{ url_for('issue', id=issue.id)}}">
                    {{ issue.magazine.name }}
                    {% if issue.number %}
                    {{ issue.number }} / {{ issue.year }}
                    {% else %}
                    {{ issue.count }}
                    {% endif %}</a>
            </dd>
            {% endfor %}
        </dl>
        {% endif %}
        {% if current_user.is_admin %}

        <div id="admin" aria-labelledby="headAdmin" data-parent="#workCard">
            <a href="{{url_for('edit_story', id=story.id)}}">Muokkaa</a><br>
            {{ modal_button("editAuthors", "Muokkaa kirjoittajia")}}

        </div>

        <div class="modal fade" id="editAuthors" tabindex="-1" role="dialog" aria-labelledby="editAuthorsLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editAuthorsLabel">Muokkka kirjailijatietoja</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Sulje">
                            <span aria-hidden="true">&times</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            {% for author in authors %}
                            <div class="row">
                                <div class="col-md-8">{{ author.name }}</div>
                                <div class="col-md-4">
                                    <a href="{{ url_for('remove_author_from_story',
                                    storyid=story.id, authorid=author.id)}}">Poista</a><br />
                                </div>
                            </div>
                            {% endfor %}
                            <hr>
                            <form action="" method="post">
                                <div class="form-row">
                                    <div class="col-md-8">
                                        {{ form_author.hidden_tag() }}
                                        {{ form_author.author(id="author") }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form_author.submit }}
                                    </div>
                                </div>
                            </form>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Sulje</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {{ auto_complete("author", "/autocomp_person")}}
    {% endblock %}