{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>{{tag.name}}</h1>

    {% if tag.people|length %}
    <h2>Henkilöt</h2>
    {% for person in tag.people %}
    <a href="{{url_for('person', personid=person.id)}}">{{person.name}}</a>
    <br>
    {% endfor %}
    {% endif %}

    {% if tag.works|length %}
    <h2>Teokset</h2>
    {% for work in tag.works %}
    {% include "_work_first_edition.html" %}
    {% endfor %}
    {%endif %}

    {% if tag.magazines|length %}
    <h2>Lehdet</h2>
    {% for magazine in tag.magazines %}
    <a href="{{url_for('magazine', id=magazine.id)}}">{{ magazine.name }}</a><br>
    <br>
    {% endfor %}
    {%endif %}

    {% if tag.issues|length %}
    <h2>Lehden numerot</h2>
    {% for issue in tag.issues %}
    <a href="{{ url_for("issue",
                                         id=issue.id)}}">{{ issue.number }} /
        {{issue.year}}</a></b>
    {%- if issue.title -%}
    : {{ issue.title }}
    {% endif %}
    {% endfor %}
    {%endif %}

    {% if tag.stories|length %}
    <h2>Novellit</h2>
    {% for story in tag.stories %}
    <b><span class="person-list">{{ story.creator_str }}</span></b>:
    <a href=" {{ url_for('story', id=story.id) }}">{{ story.title }}</a>
    {% if story.orig_title != story.title %}({{ story.orig_title}}
    {%- if story.pubyear %}, {{story.pubyear}}{% endif %}) {% elif
                story.pubyear %} ({{ story.pubyear}}) {% endif %}
    <br>
    {% endfor %}
    {%endif %}

    {% if tag.articles|length %}
    <h2>Artikkelit</h2>
    {% for article in tag.articles|sort(attribute='creator_str') %}
    {% if article.creator_str -%}
    <span class="person-list">
        {{ article.creator_str }}</span>:
    {% endif %}
    <a href="{{url_for('article',
						 id=article.id)}}">{{
                         article.title }}</a>
    ({{article.issue.magazine.name}}
    {% if article.issue.number -%}
    {{ article.issue.number }} /
    {{ article.issue.year }}
    {%- else -%}
    {{ article.issue.count }}
    {%- endif -%})
    <br>
    {% endfor %}
    {%endif %}
</div>
{% endblock %}