{% extends "base.html" %}

{% block content %}
    <h1>{{ work.title }} 
    {% if current_user.is_admin %} 
        ({{ work.id }})
    {% endif %}
    </h1>
    <p>Kirjoittajat:
    <span class="person-list">{{ work.creator_str }}</span>
    </p>
    <p>Julkaisuvuosi: {{ work.pubyear }}</p>
    {% if work.bookseries.name|length %}
        <p>Kirjasarja: <a href=" {{ url_for('bookseries',
                                   seriesid=work.bookseries.id) }} ">{{
                                   work.bookseries.name }}</a>
                {% if work.bookseriesnum %}
                        {% if work.bookseriesnum|length %}
                        , numero {{ work.bookseriesnum }}</p>
                        {% endif %}
                {% endif %}
        {%- endif %}
    <p>Genre: {{ work.genres|join(', ', attribute='genre_name') }}</p>
    <p>Muuta: {{ work.misc }}</p>
    {% if current_user.is_admin %} 
        <p>Aineiston lähde: {{ work.fullstring }}</p>
    {% endif %}
    <p><b>Painokset:</b></p>
    <div>
    {% for edition in work.editions %}
        <p><a href=" {{ url_for('edition', editionid=edition.id) }}">{{ edition.title
                }}</a>. {{ edition.pubyear }}. {{ edition.publisher.name }}.
        {% if edition.pubseries.name|length %}
            {{ edition.pubseries.name }}
            {%- if edition.pubseriesnum %} {{ edition.pubseriesnum }}{% endif %}.
        {% endif %}
        </p>
    {% endfor %}
    </div>
    {% if current_user.is_admin %} 
        <hr>
        <p><a href=" {{ url_for('edit_work', workid=work.id) }} ">Muokkaa</a></p>
        <p><a href=" {{ url_for('add_edition', workid=work.id) }}">Lisää painos</a></p>
	<!-- Trigger/Open The Modal -->
	<button id="myBtn">Lisää/poista kirjailija</button>

	<!-- The Modal -->
	<div id="myModal" class="modal">

		<!-- Modal content -->
		<div class="modal-content">
			<div class="modal-header">
				<span class="close">&times;</span>
				<h2>Muokkaa kirjailijatietoja</h2>
			</div>
			<div class="modal-body">
				{% for author in authors %}
				{{ author.name }}
				<a href="{{ url_for('remove_author_from_work',
					 workid=work.id, authorid=author.id)}}">Poista</a><br>
				{% endfor %}
				<form action="" method=post>
					{{ form.hidden_tag() }}
					{{ form.author.label }}
					{{ form.author(size=100) }}
					{{ form.submit }}
				</form>
			</div>
				<div class="modal-footer">
					<h3></h3>
			</div>
		</div>

    {% endif %}
{% block script %}
<script src="/static/js/personlink.js" type="text/javascript"></script>
<script src="/static/js/author.js">
<script>
{% include "_searchable_lists.html" %}
</script>
{% endblock %}
{% endblock %}

